{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}

{% block class %}courses{% endblock %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Major</dt>
    <dd><a href="{% url 'sis:major' majorid=course.major.id %}">{{ course.major }}: {{  course.major.name }}</a></dd>
  <dt>Catalog Number</dt>
  <dd>{{ course.catalog_number }}</dd>
  <dt>Title</dt>
  <dd>{{ course.title }}</dd>
  <dt>Description</dt>
  <dd>{{ course.description }}</dd>
  <dt>Credits Earned</dt>
  <dd>{{ course.credits_earned }}</dd>
</dl>

    <h3>Has Prerequisites:</h3>
    {% sis_filter 'prereqs' %}

    <h3>Is Prerequisite For:</h3>
    {% sis_filter 'neededby' %}

    <h3>Sections:</h3>
    {% sis_filter 'sections' %}

    {%  if can_edit %}
        <input id="new_section" action="action" class="btn btn-info" value="New Section"/>
        <input id="course_edit" action="action" class="btn btn-info" value="Edit Course"/>
    {%  endif %}
{% endblock %}

{% block late_scripts %}
<script>
{%  if can_edit %}
    addButtonClickHandler('course_edit', "{% url 'schooladmin:course_edit' courseid=course.id %}");
    addButtonClickHandler('new_section', "{% url 'schooladmin:course_section_new' courseid=course.id %}");
{% endif %}
stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'prereqs'});
stylizeRange({field:'credits_earned',name:'Cred',prefix:'prereqs'});
stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'neededby'});
stylizeRange({field:'credits_earned',name:'Cred',prefix:'neededby'});
</script>
{% endblock %}
