{% extends user.home_template %}
{% load static %}
{% load sis-filter %}
{% load bootstrap3 %}

{% block class %}courses{% endblock %}
{% block content %}
{%  if can_add %}
    <button class="btn btn-primary" onclick="location.href='{% url 'schooladmin:course_new' %}';">New Course</button>
{% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="offered-current" class="btn btn-info submitme">Offered Current Semester</button>
        <button type="submit" name="offered-upcoming" class="btn btn-info submitme">Offered Upcoming Semester</button>
    </form>
{% sis_filter 'courses' %}
{% endblock content %}

{% block late_scripts %}
<script>
const handler = insertScrollableDivs(applyHandlers=true);
handler();
stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'courses'});
stylizeRange({field:'credits_earned',name:'Cred',prefix:'courses'});
</script>
{% endblock %}