{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% block class %}demographics{% endblock %}
{% block content %}
<h3>Demographic Summary</h3>
<hr>
    <h3>Students</h3>
<table>
    <tr>
        <th>Demographic Dimension</th>
        <th>Values Distribution</th>
        <th>Total Samples</th>
    </tr>
    {%  for attr in students %}
    <tr>
        <td>{{ attr.key }}</td>
        <td>{{ attr.data }}</td>
        <td>{{ attr.total }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<h3>Professors</h3>
<table>
    <tr>
        <th>Demographic Dimension</th>
        <th>Values Distribution</th>
        <th>Total Samples</th>
    </tr>
    {%  for attr in professors %}
    <tr>
        <td>{{ attr.key }}</td>
        <td>{{ attr.data }}</td>
        <td>{{ attr.total }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
Date Prepared: {{ date_prepared }}
{% endblock content %}
