{% extends 'sis/home_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block identification %}
    <div class="welcome">Welcome, Guest!</div>
{%  endblock %}
{%  block right_block %}
<a class="btn btn-primary" href="{% url 'login' %}">Sign In</a>
{% endblock %}

{% block nav %}
<div class="tab">
  <button class="tablinks" name="section" id="professors-btn" onclick="location.href='{% url 'schooladmin:professors' %}';">Professors</button>
  <button class="tablinks" name="section" id="majors-btn" onclick="location.href='{% url 'sis:majors' %}';">Majors</button>
  <button class="tablinks" name="section" id="semesters-btn" onclick="location.href='{% url 'schooladmin:semesters' %}';">Semesters</button>
  <button class="tablinks" name="section" id="courses-btn" onclick="location.href='{% url 'schooladmin:courses' %}';">Courses</button>
  <button class="tablinks" name="section" id="sections-btn" onclick="location.href='{% url 'schooladmin:sections' %}';">Sections</button>
</div>
{% endblock %}
