{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
{% endblock css %}


{% block content %}
<div>
<button class="btn btn-primary" onclick="location.href='{% url 'schooladmin:major_new' %}';">New Major</button>
<div>
<div id="Majors">
    {% if filter %}
    <form id="myfilt" action="" method="get" class="form form-inline" autocomplete="off">
    {% bootstrap_form filter.form layout='inline' %}
    <button class="btn btn-primary">Filter</button>
{% if has_filter %}
  <a  class="btn btn-success" href="{%  url 'schooladmin:majors' %}">Clear</a>
{% endif %}
    </form>
    {% endif %}
    <div class="data-table-alt">
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
</div>
</div>
</div>
<script>
function selectRow(evt) {
    id = this.getAttribute('data-id');
    open("/schooladmin/major/"+id,'_self');
}

// Add onclick to each row so that it leaps off to the detail
var tablerows = document.getElementsByClassName('mrow')
for (var i=0, len=tablerows.length; i<len; i=i+1) {
    tablerows[i].addEventListener("click", selectRow, false);
}
</script>
{% endblock content %}
