{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Major</dt>
  <dd>{{ major.abbreviation }}</dd>
  <dt>Name</dt>
  <dd>{{ major.name }}</dd>
  <dt>Description</dt>
  <dd>{{ major.description }}</dd>
</dl>

        <h3>Professors:</h3>
    <div id="Professors" class="data-table ">
    {% render_table profs 'django_tables2/bootstrap.html' %}
    </div>

        <h3>Required Courses:</h3>
    <div id="Required" class="data-table-alt ">
        {% render_table required 'django_tables2/bootstrap.html' %}
    </div>

        <h3>Courses offered by Major:</h3>
    <div id="Courses" class="data-table-alt ">
        {% render_table courses 'django_tables2/bootstrap.html' %}
    </div>

    <div>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
     <input id="editm"
        action="action"
           class="btn btn-info"
        value="Edit Major"
    />
    </div>
<script>
addButtonClickHandler('editm', '{% url 'schooladmin:major_edit' major.abbreviation %}');
addClickHandlers("{% url 'schooladmin:user' userid=1234599 %}", "user_row");
addClickHandlers("{% url 'schooladmin:course' courseid=1234599 %}", "course_row");
</script>
{% endblock %}
