{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load sis-filter %}
{% load user_demographics %}

{% block content %}
        <h3>Received Messages:</h3>
    <div id="received">
        {% if received_filter %}
            <form id="received_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form received_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if received_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:messages' %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table received_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <div id="received-detail-div" class="message_detail_div">
    <iframe id="received_frame" class="message_detail_iframe" title="Message Detail" ></iframe>
    </div>

        <h3>Sent Messages:</h3>
    <div id="sent">
        {% if sent_filter %}
            <form id="sent_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form sent_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if sent_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:messages' %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table sent_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

     <div id="sent-detail-div" class="message_detail_div">
    <iframe id="sent_frame" class="message_detail_iframe" title="Message Detail" ></iframe>
    </div>

 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input id="go_back"
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />

  </form>
<script>
addDetailClickHander({template:"{% url 'schooladmin:message' id=1234599 %}",
    table_parent: 'received',
    row_class:"message_row",
    iframe_id:'received_frame',
    mark_read: true
});
addDetailClickHander({template:"{% url 'schooladmin:message' id=1234599 %}",
    table_parent: 'sent',
    row_class:"message_row",
    iframe_id:'sent_frame',
    mark_read: false
});
stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'});
</script>
{% endblock %}
