{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}
{%  load user_demographics %}
{% block class %}professors{% endblock %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Professor</dt>
  <dd>{{ auser.get_full_name }}</dd>
  <dt>Username</dt>
  <dd>{{ auser.username }}</dd>
  <dt>Email</dt>
  <dd>{{ auser.email }}</dd>
  <dt>Bio</dt>
  <dd>{{  auser.profile.bio }}</dd>
  <dt>Teaching Department</dt>
  <dd><a href="{% url 'sis:major' majorid=auser.profile.professor.major.id %}">{{ auser.profile.professor.major.abbreviation }}: {{  auser.profile.professor.major.name }}</a></dd>
    {%  if can_edit %}
      <dt>Enabled?</dt>
      <dd>{% if auser.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
    {% endif %}
</dl>
    <h3>Demographic Data</h3>
    {%  demographic_details auser.profile %}

    <h3>Semesters Taught</h3>
    {% sis_filter 'semesters' %}

    <h3>Sections Taught</h3>
    {% sis_filter 'sections' %}

    <h3>Reference Items for Courses</h3>
    {% sis_filter 'items' %}

    {% if received %}
        <h3>Received Messages:</h3>
        {% sis_filter 'received' %}
    {%  endif %}

    {% if sent %}
        <h3>Sent Messages:</h3>
        {% sis_filter 'sent' %}
    {%  endif %}

  <form method="post">
{% csrf_token %}
    <input type="hidden" name="userid" value="{{ auser.id }}"/>
    <input action="action" class="btn btn-secondary" onclick="window.history.go(-1); return false;" value="Back"/>
    <input id="showitems" action="action" class="btn btn-info" value="Reference Items"/>
    {% if can_edit %}
        <input id="new_item" action="action" class="btn btn-primary" value="Add Reference Item"/>
        <input id="change_password" action="action" class="btn btn-warning" value="Change Password"/>
        <input id="edit_professor" action="action" class="btn btn-primary" value="Edit Professor"/>
        {% if auser.is_active %}
            <input id="disbutton" name="disbutton" action="action" class="btn btn-danger" value="Disable Professor"/>
        {% else %}
            <input id="enabutton" name="enabutton" action="action" class="btn btn-danger" value="Enable Professor"/>
        {% endif %}
    {% endif %}
</form>
{% endblock %}

{% block late_scripts %}
<script>
{% if can_edit %}
    function confirmit(evt) {
        var btntitle = evt.target.value;
        var answer = window.confirm("Are you sure you want to "+btntitle+' \n"{{ auser.username }}" ({{ auser.get_full_name  }})');
        if (answer) {
            this.form.submit();
            return true;
        }
        return false;
    }
    var btn = document.getElementById("disbutton");
    if ( btn ) {btn.addEventListener("click", confirmit);}
    btn = document.getElementById("enabutton");
    if ( btn ) {btn.addEventListener("click", confirmit);}
    addButtonClickHandler('new_item', "{% url 'schooladmin:professor_item_new' userid=auser.id %}");
    addButtonClickHandler('change_password', "{% url 'sis:change_password' auser.id %}");
    addButtonClickHandler('edit_professor', "{% url 'schooladmin:user_edit' auser.id %}");
{%  endif %}
addButtonClickHandler('showitems', "{% url 'schooladmin:professor_items' auser.id %}");
stylizeRange({field:'year',min_label:'From Year',max_label:'To Year',prefix:"semesters"});
{%  if received %}
    stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'}); {% endif %}
{%  if sent %}
    stylizeRange({field:'time_sent',name:'Received',prefix:'sent',width:'100px'}); {% endif %}
</script>
{% endblock %}
