{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Professor</dt>
  <dd>{{ user.name }}</dd>
  <dt>Professorname</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>Professor Type</dt>
  <dd>{{ user.access_role }}</dd>
  <dt>Teaching Department</dt>
  <dd>{{ user.professor.major.abbreviation }}:{{ user.professor.major.name }}</dd>
  <dt>Enabled?</dt>
  <dd>{% if user.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
</dl>
    <h3>Semesters Taught</h3>
    <div class="data-table-alt">
        {% render_table semesters 'django_tables2/bootstrap.html' %}
    </div>

    <h3>Sections Taught</h3>
    <div class="data-table-alt">
        {% render_table sections 'django_tables2/bootstrap.html' %}
    </div>

  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="passchg"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
      {% if user.is_active %}
    <input id="disbutton" name="disbutton"
           class="btn btn-primary"
           action="action"
        value="Disable Professor"
    />
    {% else %}
    <input id="enabutton" name="enabutton"
        action="action"
           class="btn btn-primary"
        value="Enable Professor"
   />
   {% endif %}
     <input id="editu"
        action="action"
           class="btn btn-info"
        value="Edit Professor"
    />

  </form>
<script>
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+' \n"{{ user.username }}" ({{ user.get_full_name  }})');
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
addButtonClickHandler('passchg', "{% url 'schooladmin:change_password' user.id %}");
addButtonClickHandler('editu', "{% url 'schooladmin:user_edit' user.id %}");
addClickHandlers("{% url 'schooladmin:semester' semester_id=1234599 %}", "semester_row");
addClickHandlers("{% url 'schooladmin:section' sectionid=1234599 %}", "section_row");
</script>
{% endblock %}
