{% extends 'sis/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
    <h3>Add Reference Item</h3>
  <form method="post" action="{% url 'schooladmin:professor_item_new' userid=auser.id %}">
    {% csrf_token %}
      <table>{{ form.as_table }}</table>
   <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <button type="submit" class="btn btn-primary">Create Item</button>
  </form>

<script>
</script>

{% endblock %}
