{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load user_demographics %}

{% block content %}
<dl class="dl-horizontal">
  <dt>User</dt>
  <dd>{{ user.name }}</dd>
  <dt>Username</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>Bio</dt>
  <dd>{{ user.profile.bio }}</dd>
</dl>
    <h3>Demographic Data</h3>
    {%  demographic_details user.profile %}

        <h3>Received Messages:</h3>
    <div id="received">
        {% if received_filter %}
            <form id="received_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form received_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if received_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table received_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

        <h3>Sent Messages:</h3>
    <div id="sent">
        {% if sent_filter %}
            <form id="sent_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form sent_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if sent_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table sent_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input id="go_back"
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="passchg"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
     <input id="edit_profile"
        action="action"
           class="btn btn-info"
        value="Edit Profile"
    />

  </form>
<script>
stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'});
stylizeRange({field:'time_sent',name:'Received',prefix:'sent',width:'100px'});
addButtonClickHandler('passchg', "{% url 'schooladmin:change_password' user.id %}");
addButtonClickHandler('edit_profile', "{% url 'schooladmin:user_edit' user.id %}");
</script>
{% endblock %}
