{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Professor</dt>
  <dd>{{ user.name }}</dd>
  <dt>Professor Name</dt>
  <dd>{{ user.username }}</dd>
</dl>

    <h3>Reference Items for Courses</h3>
    {% sis_filter 'items' %}

  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
     <input id="new_item"
        action="action"
           class="btn btn-info"
        value="Add Reference Item"
    />

  </form>
<script>
addButtonClickHandler('new_item', "{% url 'schooladmin:professor_item_new' userid=user.id %}");
</script>
{% endblock %}
