{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block content %}
<dl class="dl-horizontal">
<h3>Section: {{ section }}</h3>
  <dt>Course</dt>
    <dd><a href="{% url 'schooladmin:course' courseid=section.course.id %}">{{ section.course.name }}: {{  section.course.title }}</a></dd>
  <dt>Section Number</dt>
  <dd>{{ section.number }}</dd>
  <dt>Major</dt>
    <dd><a href="{% url 'schooladmin:major' abbreviation=section.course.major %}">{{ section.course.major }}: {{  section.course.major.name }}</a></dd>
  <dt>Semester</dt>
    <dd><a href="{% url 'schooladmin:semester' semester_id=section.semester.id %}">{{ section.semester }}</a></dd>
  <dt>Professor</dt>
    <dd><a href="{% url 'schooladmin:user' userid=section.professor.user.id %}">{{ section.professor }}</a></dd>
  <dt>Hours</dt>
  <dd>{{ section.hours }}</dd>
  <dt>Capacity</dt>
  <dd>{{ section.seats_remaining }} / {{ section.capacity }}</dd>
  <dt>Status</dt>
  <dd>{{ section.status }}</dd>
</dl>

    <div id="Students" class="data-table">
        <h3>Students:</h3>
    {% render_table students 'django_tables2/bootstrap.html' %}
    </div>
  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>

    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
     <input id="edit_section"
        action="action"
           class="btn btn-info"
        value="Edit Section"
    />
     <input id="delete_section" name="delete_section"
        action="action"
           class="btn btn-info"
        value="Delete Section"
    />
     <input id="manage_students"
        action="action"
           class="btn btn-info"
        value="Manage Students in Section"
    />
</form>

<script>
document.getElementById("delete_section").addEventListener("click", function() {
        var answer = window.confirm("Are you sure you want to delete this section?");
        if (answer) {
            this.form.submit();
            return true;
        }
        return false;
    }
);

addButtonClickHandler('edit_section', '{% url 'schooladmin:section_edit' sectionid=section.id %}');
addButtonClickHandler('manage_students', '{% url 'schooladmin:section_students_manage' sectionid=section.id %}');
addClickHandlers("{% url 'schooladmin:sectionstudent' id=1234599 %}", "sectionstudent_row");
</script>
{% endblock %}
