{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
<dl class="dl-horizontal">
<h3>Section: {{ section }}</h3>
  <dt>Course</dt>
    <dd><a href="{% url 'schooladmin:course' courseid=section.course.id %}">{{ section.course.name }}: {{  section.course.title }}</a></dd>
  <dt>Section Number</dt>
  <dd>{{ section.number }}</dd>
  <dt>Major</dt>
    <dd><a href="{% url 'schooladmin:major' abbreviation=section.course.major %}">{{ section.course.major }}: {{  section.course.major.name }}</a></dd>
  <dt>Semester</dt>
    <dd><a href="{% url 'schooladmin:semester' semester_id=section.semester.id %}">{{ section.semester }}</a></dd>
  <dt>Professor</dt>
    <dd><a href="{% url 'schooladmin:user' userid=section.professor.user.id %}">{{ section.professor }}</a></dd>
  <dt>Hours</dt>
  <dd>{{ section.hours }}</dd>
  <dt>Capacity</dt>
  <dd>{{ section.capacity }} ({{ section.seats_remaining }} remaining)</dd>
  <dt>Status</dt>
  <dd>{{ section.status }}</dd>
</dl>

        <h3>Students:</h3>
    <div id="Students" class="data-table ">
    {% render_table students 'django_tables2/bootstrap.html' %}
    </div>
  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
<div>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
     <input id="new_section"
        action="action"
           class="btn btn-info"
        value="New Section of this Class"
    />
     <input id="edit_section"
        action="action"
           class="btn btn-info"
        value="Edit Section"
    />
     <input id="manage_students"
        action="action"
           class="btn btn-info"
        value="Manage Students in Section"
     /></div>
</form>

<script>
addButtonClickHandler('new_section', '{% url 'schooladmin:section_new_from_section' sectionid=section.id %}');
addButtonClickHandler('edit_section', '{% url 'schooladmin:section_edit' sectionid=section.id %}');
addButtonClickHandler('manage_students', '{% url 'schooladmin:section_students_manage' sectionid=section.id %}');
addClickHandlers("{% url 'schooladmin:sectionstudent' id=1234599 %}", "sectionstudent_row");
</script>
{% endblock %}
