{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block css %}
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock css %}

{% block content %}
  <h3>Add Section to Class</h3>
  <form method="post" action="{% url 'schooladmin:section_new' %}">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <button type="submit" class="btn btn-primary">Save Section</button>
  </form>

<script>
var courseMajors = {
{%  for course in courses %}
    '{{ course.id }}':'{{ course.major }}',{%  endfor %}
};

var majorProfs = {
};
function recordMajors() {
{%  for prof in profs %}
    if ( ! majorProfs['{{ prof.major }}']) {
        majorProfs['{{ prof.major }}'] = [];
    }
    majorProfs['{{ prof.major }}'].push({ "id":{{ prof.pk }}, "name":'{{ prof.name }}'});{%  endfor %}
}

function courseChosen(evt) {
  var c = document.getElementById("id_course").value;
  var m = courseMajors[c];
  var profs = majorProfs[m];

  var optionlist = '<option value="" selected>---------</option>';
  if (profs) {
      for (var p of profs) {
          optionlist += '<option value="' + p['id'] + '">' + p['name'] + '</option> ';
      }
  }
  document.getElementById("id_professor").innerHTML = optionlist;
}

recordMajors();
courseChosen();
document.getElementById("id_course").addEventListener("change", courseChosen);
</script>

{% endblock %}
