{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
  <h3>Edit Section {{ section.course_name }}-{{ section.number }}</h3>
<dl class="dl-horizontal">
  <dt>Course</dt>
  <dd>{{ section.course_name }}</dd>
  <dt>Section Number</dt>
  <dd>{{ section.number }}</dd>
  <dt>Semester</dt>
  <dd>{{ section.semester }}</dd>
</dl>

  <form method="post">
    {% csrf_token %}
      <table>{{ form.as_table }}</table>
    <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <input
        type="reset" id="reset_button"
        value="Reset" class="btn btn-info"
    />
    <input id="submitme" name="submitme"
        action="action"
        value="Save Changes" class="btn btn-primary submitme"
    />
  </form>

<script>
document.getElementById("submitme").addEventListener("click", function () {
        var new_cap = document.getElementById("id_capacity").value;
        if (new_cap < {{ section.registered }}) {
            var answer = window.confirm("New capacity is less than the number of registered students ({{ section.registered }}). Are you sure?");
            if (answer) {
                this.form.submit();
                return true;
            }
        } else {
            this.form.submit();
            return true;
        }
        return false;
    });
</script>
{% endblock %}
