{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<style>
#Sections {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Sections td, #Sections th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Sections tr:nth-child(even){background-color: #f2f2f2;}

#Sections tr:hover {background-color: #ddd;}

#Sections th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.sem_cell, .course_cell, .secnum_cell, .capac_cell {
    text-align: center;
    width: 100px;
}
.coursetitle_cell, .hours_cell, .prof_cell {
    text-align: left;
}

</style>

{% endblock css %}

{% block content %}
<div>
    <button class="btn btn-primary" id="section_new">Add Section to Class</button>
    <div id="Sections">
        {% if filter %}
            <form id="myfilt" action="" method="get" class="form form-inline" autocomplete="off">
            {% bootstrap_form filter.form layout='inline' %}
            <button class="btn btn-primary">Filter</button>
            {% if has_filter %}
              <a  class="btn btn-success" href="{%  url 'schooladmin:sections' %}">Clear</a>
            {% endif %}
            </form>
        {% endif %}
        {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
</div>
<script>
function section_new(evt) {
    open("{% url 'schooladmin:section_new' %}",'_self');
}
var e = document.getElementById('section_new');
e.addEventListener("click", section_new, false);

function selectRow(evt) {
    id = this.getAttribute('data-id');
    open("/schooladmin/section/"+id,'_self');
}

// Add onclick to each row so that it leaps off to the detail
var tablerows = document.getElementsByClassName('srow')
for (var i=0, len=tablerows.length; i<len; i=i+1) {
    tablerows[i].addEventListener("click", selectRow, false);
}

e = document.getElementById('id_catalog_number_0')
e.placeholder = "Min Num"

e = document.getElementById('id_catalog_number_1')
e.placeholder = "Max Num"

e = document.getElementById('id_credits_earned_0')
e.placeholder = "Min Cred"

e = document.getElementById('id_credits_earned_1')
e.placeholder = "Max Cred"
</script>
{% endblock content %}
