{% extends user.home_template %}
{% load static %}
{% load sis-filter %}
{% load bootstrap3 %}
{% block class %}sections{% endblock %}

{% block content %}
{%  if can_add %}
    <button class="btn btn-primary" id="section_new">Add Section to Class</button>
{% endif %}
    {% sis_filter 'sections' %}
{% endblock %}

{% block late_scripts %}
<script>
const handler = insertScrollableDivs(applyHandlers=true);
handler();
{%  if can_add %}
addButtonClickHandler('section_new', "{% url 'schooladmin:section_new' %}");
{% endif %}
</script>
{% endblock  %}
