{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}
{% block class %}sections{% endblock %}

{% block content %}
    <dl class="dl-horizontal">
<h3>Section: {{ section }}</h3>
  <dt>Major</dt>
    <dd><a href="{% url 'sis:major' majorid=section.course.major.id %}">{{ section.course.major }}: {{  section.course.major.name }}</a></dd>
  <dt>Course</dt>
    <dd><a href="{% url 'schooladmin:course' courseid=section.course.id %}">{{ section.course.name }}: {{  section.course.title }}</a></dd>
  <dt>Semester</dt>
    <dd><a href="{% url 'schooladmin:semester' semester_id=section.semester.id %}">{{ section.semester }}</a></dd>
  <dt>Section Number</dt>
  <dd>{{ section.number }}</dd>
  <dt>Professor</dt>
    <dd><a href="{% url 'schooladmin:user' userid=section.professor.profile.user.id %}">{{ section.professor.profile.name }}</a></dd>
  <dt>Hours</dt>
  <dd>{{ section.hours }}</dd>
  <dt>Location</dt>
  <dd>{{ section.location }}</dd>
  <dt>Capacity</dt>
  <dd>{{ section.capacity }} ({{ section.seats_remaining }} remaining)</dd>
  <dt>Status</dt>
  <dd>{{ section.status }}</dd>
</dl>

<dl class="dl-horizontal">

    <dt>Student:</dt>
    <dd><a href="{% url 'schooladmin:student' userid=student.profile.user_id %}">{{ student.profile.user.get_full_name }}</a></dd>

    <dt>Section:</dt>
    <dd><a href="{% url 'schooladmin:section' sectionid=section.id %}">{{ section.name }}</a></dd>

    <dt>Status</dt>
    <dd>{{  secstud.status }}</dd>

    <dt>Grade</dt>
    <dd>{{ grade }}</dd>

{% endblock %}
