{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block content %}
<h2>Semester {{ semester.semester }}:</h2>
<h2>Year {{ semester.year }}:</h2>
<h2>Start Date {{ semester.date_started }}:</h2>
<h2>End Date {{ semester.date_ended }}:</h2>
<h2>Registration Open {{ semester.date_registration_opens }}:</h2>
<h2>Last Drop Date {{ semester.date_last_drop }}:</h2>

    <div id="Sections">
        <h3>Sections:</h3>
        <div class="data-table-alt"
            {% render_table sections 'django_tables2/bootstrap.html' %}
        </div>
    </div>

     <input id="section_new" name="section_new" action="action"
           class="btn btn-info"
        value="New Section"
    />

    <input
        action="action" id="back" name="back"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
<script>
addButtonClickHandler('section_new', "{% url 'schooladmin:semester_section_new' semester.id %}");
addClickHandlers("{% url 'schooladmin:section' sectionid=1234599 %}", "section_row");
</script>
{% endblock %}
