{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}
{% block class %}semesters{% endblock %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Semester</dt>
    <dd>{{ semester.session }} - {{ semester.session_name }}</dd>
  <dt>Year</dt>
  <dd>{{ semester.year }}</dd>
  <dt>Registration Open</dt>
  <dd>{{ semester.date_registration_opens }}</dd>
  <dt>Registration Closes</dt>
  <dd>{{ semester.date_registration_closes }}</dd>
  <dt>Classes Start</dt>
  <dd>{{ semester.date_started }}</dd>
  <dt>Last Drop Date</dt>
  <dd>{{ semester.date_last_drop }}</dd>
  <dt>Classes End</dt>
  <dd>{{ semester.date_ended }}</dd>
  <dt>Grades Finalized</dt>
  <dd>{{ semester.date_finalized }}</dd>
</dl>

    <h3>Sections:</h3>
    {% sis_filter 'sections' %}

    {%  if students %}
         <h3>Enrolled Students:</h3>
        {% sis_filter 'students' %}
    {% endif %}
        <h3>Professors Teaching:</h3>
    {% sis_filter 'professors' %}

    {% if can_add  %}
        <input id="section_new" name="section_new" action="action" class="btn btn-primary" value="New Section"/>
        <input id="edit_semester" action="action" class="btn btn-primary" value="Edit Semester"/>
    {% endif %}
{% endblock %}

{% block late_scripts %}
    <script>
    {% if can_add  %}
        addButtonClickHandler('section_new', "{% url 'schooladmin:semester_section_new' semester.id %}");
        addButtonClickHandler('edit_semester', "{% url 'schooladmin:semester_edit' semester.id %}");
    {% endif %}
</script>
{% endblock %}
