{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Semester</dt>
    <dd>{{ semester.semester }}</dd>
  <dt>Year</dt>
  <dd>{{ semester.year }}</dd>
  <dt>Start Date</dt>
  <dd>{{ semester.date_started }}</dd>
  <dt>End Date</dt>
  <dd>{{ semester.date_ended }}</dd>
  <dt>Registration Open</dt>
  <dd>{{ semester.date_registration_opens }}</dd>
  <dt>Last Drop Date</dt>
  <dd>{{ semester.date_last_drop }}</dd>
</dl>

    <div id="Sections">
        <h3>Sections:</h3>
        <div class="data-table-alt"
            {% render_table sections 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <div id="Students">
        <h3>Enrolled Students:</h3>
        <div class="data-table-alt"
            {% render_table students 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <div id="Professors">
        <h3>Professors Teaching:</h3>
        <div class="data-table-alt"
            {% render_table professors 'django_tables2/bootstrap.html' %}
        </div>
    </div>

     <input id="section_new" name="section_new" action="action"
           class="btn btn-info"
        value="New Section"
    />

    <input
        action="action" id="back" name="back"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
     <input id="edit_semester"
        action="action"
           class="btn btn-info"
        value="Edit Semester"
    />
<script>
addButtonClickHandler('section_new', "{% url 'schooladmin:semester_section_new' semester.id %}");
addButtonClickHandler('edit_semester', "{% url 'schooladmin:semester_edit' semester.id %}");
addClickHandlers("{% url 'schooladmin:user' userid=1234599 %}", "user_row");
addClickHandlers("{% url 'schooladmin:section' sectionid=1234599 %}", "section_row");
</script>
{% endblock %}
