{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load sis-filter %}

{% block content %}
<div>
    {%  if can_add %}
        <button class="btn btn-primary" onclick=location.href="{% url 'schooladmin:semester_new' %}">New Semester</button>
    {% endif %}
    <div id="Semesters">
    {% sis_filter 'semesters' %}
</div>
`
</div>
<script>
insertScrollableDivs(applyHandlers=true);
stylizeRange({field:'year',min_label:'From Year',max_label:'To Year',prefix:"semesters"});
</script>
{% endblock content %}
