{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{%  load user_demographics %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd>{{ user.name }}</dd>
  <dt>Username</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>Student Major</dt>
  <dd><a href="{% url 'schooladmin:major' majorid=user.profile.student.major.id %}">{{ user.profile.student.major.abbreviation }}: {{  user.profile.student.major.name }}</a></dd>
  <dt>Class Level</dt>
  <dd>{{ user.profile.student.class_level }}</dd>
  <dt>GPA</dt>
  <dd>{{ user.profile.student.gpa|floatformat:2 }}</dd>
  <dt>Credits Earned</dt>
  <dd>{{ user.profile.student.credits_earned }}</dd>
  <dt>Enabled?</dt>
  <dd>{% if user.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
  <dt>Bio</dt>
  <dd>{{  user.profile.bio }}</dd>
  <dt>Transcript<dt>
  <dd><a href="{% url 'schooladmin:transcript' userid=user.id %}">Generate</a>
</dl>
    <h3>Demographic Data</h3>
    {%  demographic_details user.profile %}

    <h3>Semesters Attended:</h3>
    <div id="Semesters">
        {% if semesters_filter %}
            <form id="semesters_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form semesters_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if semesters_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table semesters_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <h3>Course History:</h3>
    <i>(completed sections)</i>
    <div id="history">
        {% if history_filter %}
            <form id="history_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form history_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if history_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table history_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <h3>Remaining Required Courses:</h3>
    <div id="remainingCourse">
        {% if remaining_filter %}
            <form id="remaining_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form remaining_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if remaining_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table remaining_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

    <h3>Major Required Courses:</h3>
    <div id="majorCourses">
        {% if majorcourses_filter %}
            <form id="majorcourses_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form majorcourses_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if majorcourses_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table majorcourses_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

         <h3>Received Messages:</h3>
    <div id="received">
        {% if received_filter %}
            <form id="received_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form received_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if received_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table received_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

        <h3>Sent Messages:</h3>
    <div id="sent">
        {% if sent_filter %}
            <form id="sent_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form sent_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if sent_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table sent_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="passchg"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
      {% if user.is_active %}
    <input id="disbutton" name="disbutton"
           class="btn btn-primary"
           action="action"
        value="Disable Student"
    />
    {% else %}
    <input id="enabutton" name="enabutton"
        action="action"
           class="btn btn-primary"
        value="Enable Student"
   />
   {% endif %}
     <input id="editu"
        action="action"
           class="btn btn-info"
        value="Edit Student"
    />

  </form>
<script>
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+' \n"{{ user.username }}" ({{ user.get_full_name  }})');
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
addButtonClickHandler('passchg', "{% url 'schooladmin:change_password' user.id %}");
addButtonClickHandler('editu', "{% url 'schooladmin:user_edit' user.id %}");
addClickHandlers("{% url 'schooladmin:semester' semester_id=1234599 %}", "semester_row");
addClickHandlers("{% url 'schooladmin:course' courseid=1234599 %}", "course_row");
addClickHandlers("{% url 'schooladmin:sectionstudent' id=1234599 %}", "sectionstudent_row");
</script>
{% endblock %}
