{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% block class %}tasks{% endblock %}

{% block scripts %}
  {{block.super}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Fengyuan Chen's Datepicker: https://github.com/fengyuanchen/datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock scripts %}

{% block content %}

  <form method="post" autocomplete="off">
    {% csrf_token %}
    <table>
      {{form.as_table}}
    </table>
    <div id="interval_form">
      <p><b>Interval</b></p>
      <select id="interval_type" name="interval_type">
        {% for x, y in options %}
          <option value="{{x}}"
            {% if interval.interval_type == x %}SELECTED{% endif %}>{{y}}</option>
        {% endfor %}
        </select>
      <input id="interval_amount" name="interval_amount" type="number" max=5000 min=1 
        {% if interval %}value={{interval.interval_amount}} {% endif %} />
    </div>
    <input action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancel" class="btn btn-info"/>
    <input id="submitme" name="submitme" action="action" value="Save Task" class="btn btn-primary submitme"/>
  </form>
{% endblock content %}

{% block late_scripts %}
  <script>
    $.fn.datepicker.setDefaults({
      format: 'yyyy-mm-dd',
        autoHide: true
    });
    $(function () {
      $("#id_date").datepicker();
    });

    $("#id_frequency_type").change(function() {
        if ($(this).val() == 'interval') {
            $("#interval_form").show();
            $("#id_date").hide();
            $('label[for="id_date"]').hide();
        } else if ($(this).val() == 'date') {
            $("#interval_form").hide();
            $("#id_date").show();
            $('label[for="id_date"]').show();
        } else {
            $("#interval_form").hide();
            $("#id_date").hide();
            $('label[for="id_date"]').hide();
        }
    })
    $("#id_frequency_type").trigger("change");

    document.getElementById("submitme").addEventListener("click", function () {
        const task_date_el = document.getElementById("id_date");
        var task_date = new Date(task_date_el.value);
        var today = new Date();
        if (task_date < today) {
            alert("Date chosen is in the past. In order for your task to execute please choose a future date.");
            return false;
        } else {
            this.form.submit();
            return true;
        }})
  </script>
{% endblock late_scripts%}
