{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
{% endblock css %}

{% block content %}
  <h3>Create New User</h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <input id="submitme" name="submitme"
        action="action"
        value="Create User" class="btn btn-primary submitme"
    />
  </form>

<script>
function manageMajor(evt) {
  var role_select = document.getElementById("id_role")
  var major_select = document.getElementById("id_major")
  var major_label = major_select.labels[0]

  if ( role_select.value == 'Admin') {
    major_select.disabled = true;
    major_select.required = false;
    major_select.style.visibility = "hidden"
    major_label.style.visibility = "hidden"
  }
  else {
    major_select.disabled = false;
    major_select.required = true;
    major_select.style.visibility = "visible"
    major_label.style.visibility = "visible"
    if (role_select.value == 'Student') {
      major_label.innerHTML = "Student Major";
    }
    else {
      major_label.innerText = "Major Taught"
    }
  }
}

document.getElementById("id_role").addEventListener("change", manageMajor);
manageMajor();

function confirmit(evt) {
    var username = document.getElementById("id_username").value;
    var user_name = document.getElementById("id_first_name").value + ' ' + document.getElementById("id_last_name").value;
    var role_select = document.getElementById("id_role").value
    var message = "Are you sure you wish to create user:\n\n" +
        "Username: "+username+"\n"+
        "Full name: "+user_name+"\n"+
        "Access Role: "+role_select;
    var answer = window.confirm(message);
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
document.getElementById("submitme").addEventListener("click", confirmit);
</script>
{% endblock %}
