{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}
{%  load user_demographics %}
{% block class %}users{% endblock %}

{% block content %}
 <form method="post">
    {% csrf_token %}
    {% if prev %} <input id="prev" action="action" class="btn btn-info" value="Previous"/> {% endif %}
    {% if next %} <input id="next" action="action" class="btn btn-info" value="Next"/> {% endif %}
 </form>
<dl class="dl-horizontal">
  <dt>User</dt>
  <dd>{{ auser.get_full_name }}</dd>
  <dt>Username</dt>
  <dd>{{ auser.username }}</dd>
  <dt>Email</dt>
  <dd>{{ auser.email }}</dd>
{%  if show_all %}
  <dt>User Type</dt>
  <dd>{{ auser.profile.rolename }}</dd>
  <dt>Enabled?</dt>
  <dd>{% if auser.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
{%  endif %}
  <dt>Bio</dt>
  <dd>{{ auser.profile.bio }}</dd>
</dl>
    <h3>Demographic Data</h3>
    {% demographic_details auser.profile %}

    {%  if show_all %}
        <h3>Received Messages:</h3>
        {% sis_filter 'received' %}

        <h3>Sent Messages:</h3>
        {% sis_filter 'sent' %}
    {%  endif %}

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{ auser.id }}"/>
        <input action="action" class="btn btn-secondary" onclick="window.history.go(-1); return false;" value="Back"/>
        {%  if show_all %}
            <input id="passchg" action="action" class="btn btn-warning" value="Change Password"/>
            <input id="editu" action="action" class="btn btn-primary" value="Edit User"/>
            {% if auser.is_active %}
                <input id="disbutton" name="disbutton" action="action" class="btn btn-danger" value="Disable User"/>
            {% else %}
                <input id="enabutton" name="enabutton" action="action" class="btn btn-danger" value="Enable User"/>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}

{% block late_scripts %}
<script>
     {%  if show_all %}
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+
                    '\n user "{{ auser.username }}" ({{ auser.get_full_name }})?');
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'});
stylizeRange({field:'time_sent',name:'Received',prefix:'sent',width:'100px'});
addButtonClickHandler('passchg', "{% url 'sis:change_password' auser.id %}");
addButtonClickHandler('editu', "{% url 'schooladmin:user_edit' auser.id %}");
     {% endif %}
{% if prev %} addButtonClickHandler('prev', "{% url 'schooladmin:user' prev %}"); {% endif %}
{% if next %} addButtonClickHandler('next', "{% url 'schooladmin:user' next %}"); {% endif %}
</script>
{% endblock %}
