{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% block class %}users{% endblock %}

{% block content %}
  <h3>Edit User "{{ auser.username }}" / {{ auser.get_full_name }}</h3>
    <div class="editform">
  <form method="post">
    {% csrf_token %}
      <table>{{ user_form.as_table }}</table>
      <table>{{ profile_form.as_table }}</table>
      <table id="demo_table">{{ demo_form.as_table }}</table>
      <table id="student_table">{{ student_form.as_table }}</table>
      <table id="professor_table">{{ professor_form.as_table }}</table>
    <input
        type="reset" id="reset_button"
        value="Reset" class="btn btn-info"
    />
    <input id="submitme" name="submitme"
        action="action"
        value="Save Changes" class="btn btn-primary submitme"
    />
  </form>
    </div>
{% endblock %}

{% block late_scripts %}

<script>
function manageRole() {
    var role_select = document.getElementById("id_p-role")
    var student_table = document.getElementById("student_table")
    var professor_table = document.getElementById("professor_table")

    if (role_select.value == 'S') {
        student_table.disabled = false;
        student_table.style.visibility = "visible"
        professor_table.disabled = true;
        professor_table.style.visibility = "hidden"
    } else if (role_select.value == 'P') {
        student_table.disabled = true;
        student_table.style.visibility = "hidden"
        professor_table.disabled = false;
        professor_table.style.visibility = "visible"
    } else {
        student_table.disabled = true;
        student_table.style.visibility = "hidden"
        professor_table.disabled = true;
        professor_table.style.visibility = "hidden"
    }
}

document.getElementById("submitme").addEventListener("click", function () {
        var role_select = document.getElementById("id_p-role")
        if (role_select.value != "{{original_role}}") {
            var answer = window.confirm("Role has been changed. Are you sure?");
            if (answer) {
                this.form.submit();
                return true;
            }
        } else {
            this.form.submit();
            return true;
        }
        return false;
    });

document.getElementById("id_p-role").addEventListener("change", manageRole);
document.getElementById("reset_button").addEventListener("change", manageRole);
manageRole();
</script>
{% endblock %}
