{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}

{% block class %}users{% endblock %}

{% block title %}Student Info System Administration{% endblock %}
{% block header_name %}Student Info System Administration{% endblock header_name %}

{% block content %}
    <button class="btn btn-primary" onclick="location.href='{% url 'schooladmin:user_new' %}';">New User</button>
    {% sis_filter 'users' %}
{% endblock %}

{% block late_scripts %}
{{ block.super }}
<script>
const handler = insertScrollableDivs(applyHandlers=true);
handler();
stylizeRange({field:'student_gpa',name:'GPA',prefix:'users',width:'90px'});
</script>
{% endblock %}
