{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>User</dt>
  <dd>{{ user.name }}</dd>
  <dt>Username</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>User Type</dt>
  <dd>{{ user.profile.rolename }}</dd>
  <dt>Enabled?</dt>
  <dd>{% if user.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
</dl>
    <h3>Demographic Data</h3>
<dl class="dl-horizontal">
  <dt>Age</dt>
  <dd>{{ user.profile.demo_age }}</dd>
  <dt>Race</dt>
  <dd>{{ user.profile.demo_race }}</dd>
  <dt>Gender</dt>
  <dd>{{ user.profile.demo_gender }}</dd>
  <dt>Employment Status</dt>
  <dd>{{ user.profile.demo_employment }}</dd>
  <dt>Annual Household Income</dt>
  <dd>{{ user.profile.demo_income }}</dd>
  <dt>Highest Level of Education in Family</dt>
  <dd>{{ user.profile.demo_education }}</dd>
  <dt>Orientation</dt>
  <dd>{{ user.profile.demo_orientation }}</dd>
  <dt>Marital Status</dt>
  <dd>{{ user.profile.demo_marital }}</dd>
  <dt>Disability</dt>
  <dd>{{ user.profile.demo_disability }}</dd>
  <dt>Veteran Status</dt>
  <dd>{{ user.profile.demo_veteran }}</dd>
  <dt>Citizenship</dt>
  <dd>{{ user.profile.demo_citizenship }}</dd>
</dl>

        <h3>Received Messages:</h3>
    <div id="received">
        {% if received_filter %}
            <form id="received_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form received_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if received_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table received_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

        <h3>Sent Messages:</h3>
    <div id="sent">
        {% if sent_filter %}
            <form id="sent_filter" action="" method="get" class="form form-inline" autocomplete="off">
                {% bootstrap_form sent_filter.form layout='inline' %}
                <button class="btn btn-primary">Filter</button>
                {% if sent_has_filter %}
                    <a  class="btn btn-success" href="{%  url 'schooladmin:user' userid=user.id %}">Clear</a>
                {% endif %}
            </form>
        {% endif %}
        <div class="data-table-alt">
            {% render_table sent_table 'django_tables2/bootstrap.html' %}
        </div>
    </div>

  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="passchg"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
      {% if user.is_active %}
    <input id="disbutton" name="disbutton"
           class="btn btn-primary"
           action="action"
        value="Disable User"
    />
    {% else %}
    <input id="enabutton" name="enabutton"
        action="action"
           class="btn btn-primary"
        value="Enable User"
   />
   {% endif %}
     <input id="editu"
        action="action"
           class="btn btn-info"
        value="Edit User"
    />

  </form>
<script>
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+
                    '\n user "{{ user.username }}" ({{ user.get_full_name }})?');
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'});
stylizeRange({field:'time_sent',name:'Received',prefix:'sent',width:'100px'});
addButtonClickHandler('passchg', "{% url 'schooladmin:change_password' user.id %}");
addButtonClickHandler('editu', "{% url 'schooladmin:user_edit' user.id %}");
addClickHandlers("{% url 'schooladmin:semester' semester_id=1234599 %}", "semester_row");
addClickHandlers("{% url 'schooladmin:course' courseid=1234599 %}", "course_row");
addClickHandlers("{% url 'schooladmin:sectionstudent' id=1234599 %}", "sectionstudent_row");
</script>
{% endblock %}
