{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block css %}
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock css %}

{% block content %}
  <h3>Change Password for {{ user.username }} / {{ user.name }}</h3>
<form method="post">
  {% csrf_token %}
  {{ form }}
   <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

{% endblock %}
