{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>User</dt>
  <dd>{{ user.name }}</dd>
  <dt>Username</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>User Type</dt>
  <dd>{{ user.access_role }}</dd>
{%  if user.access_role == 'Student' %}
  <dt>Student Major</dt>
  <dd>{{ user.student.major.abbreviation }}: {{ user.student.major.name }}</dd>
  <dt>Class Level</dt>
  <dd>{{ user.student.class_level }}</dd>
  <dt>GPA</dt>
  <dd>{{ user.student.gpa|floatformat:-2 }}</dd>
  <dt>Credits Earned</dt>
  <dd>{{ user.student.credits_earned }}</dd>
{% elif user.access_role == 'Professor' %}
  <dt>Teaching Department</dt>
  <dd>{{ user.professor.major.abbreviation }}:{{ user.professor.major.name }}</dd>
{%  endif %}
  <dt>Enabled?</dt>
  <dd>{% if user.is_active %}Enabled{% else %}Disabled{% endif %}</dd>
</dl>

    {%  if user.access_role == 'Student' %}
        <h3>Semesters Attended:</h3>
        <div id="Semesters" class="data-table-alt">
            {% render_table semesters 'django_tables2/bootstrap.html' %}
        </div>

        <h3>Course History:</h3>
        <div id="CourseHistory" class="data-table-alt">
            {% render_table course_history 'django_tables2/bootstrap.html' %}
        </div>

        <h3>Remaining Required Courses:</h3>
        <div id="CourseHistory" class="data-table-alt">
            {% render_table remaining_required 'django_tables2/bootstrap.html' %}
        </div>
    {% endif %}
  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="passchg"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
      {% if user.is_active %}
    <input id="disbutton" name="disbutton"
           class="btn btn-primary"
           action="action"
        value="Disable User"
    />
    {% else %}
    <input id="enabutton" name="enabutton"
        action="action"
           class="btn btn-primary"
        value="Enable User"
   />
   {% endif %}
     <input id="editu"
        action="action"
           class="btn btn-info"
        value="Edit User"
    />

  </form>
<script>
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+
                    '\n user "{{ user.username }}" ({{ user.get_full_name }})?');
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
addButtonClickHandler('passchg', "{% url 'schooladmin:change_password' user.id %}");
addButtonClickHandler('editu', "{% url 'schooladmin:user_edit' user.id %}");
addClickHandlers("{% url 'schooladmin:semester' semester_id=1234599 %}", "semester_row");
addClickHandlers("{% url 'schooladmin:course' courseid=1234599 %}", "course_row");
addClickHandlers("{% url 'schooladmin:sectionstudent' id=1234599 %}", "sectionstudent_row");
</script>
{% endblock %}
