{% extends 'sis/base.html' %}
{% load static %}

<head>
  {% block css %}
      {{ super.block }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}" />
  {% endblock css %}

</head>
<body>
    {% block all_content %}
    <div class="header">
      <span class="name">
      {% block header_content %}
        <h1 align="center">{% block header_name %}Student Info System{% endblock %}</h1>

        {% block logged-in %}
            <div id="headerstuff">
            <span class="alignleft">
              <dl class="dl-horizontal">
                {% block identification %}
                    <dt>Name</dt>
                    <dd>{{ user.get_full_name }}</dd>
                    <dt>Account Id</dt>
                    <dd>{{ user.username }}</dd>
                {%  endblock %}
                {% if total %}<dt>Unread Messages</dt>
                <dd><b>{{ normal }} normal message{{ normal|pluralize }}, {{ priority }} priority message{{ priority|pluralize }}</b></dd>{% endif %}

                {% if current_semester %}
                    <dt>Current Semester</dt><dd><a href="{% url 'schooladmin:semester' semester_id=current_semester.id %}">{{ current_semester }}</a></dd>
                {% endif %}

                {% if registration_open %}
                    <dt>Open for Registration</dt><dd>{% for sem in registration_open %}<a href="{% url 'schooladmin:semester' semester_id=sem.id %}">{{ sem }}</a>  {% endfor %}</dd>
              {% endif %}
              </dl>
            </span>
              <a class="btn btn-primary alignright withmargin" href="{% url 'logout' %}">Log Out</a>
            </div>
            <div style="clear: both;"></div>
        {% endblock logged-in %}

      {% endblock header_content %}
      </span>
    </div>

    {% block nav %}{% endblock nav %}

    <div class="messages">
        {% if messages %}
        <ul>
           {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="contentblob"><div>
    {% block content %}{% endblock content %}
    </div></div>

    {% block resizing %}
    <script>
          var buffer = 30; // scroll bar buffer
          var samplecontentblock = document.getElementsByClassName('contentblob')[0];
          var defaultButtonWidth = document.getElementById("courses-btn").offsetWidth;

          function pageY(elem) {
              return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
          }

          // resize iframe based on window size/resize
          function resizeContentBlocks() {
              var width = window.innerWidth;
              var height = document.documentElement.clientHeight;

              width = width - defaultButtonWidth - buffer;

              height -= pageY(samplecontentblock) + buffer;
              height = (height < 0) ? 0 : height;

              for (const tc of document.getElementsByClassName('tabcontent')) {
                  tc.style.height = height + 'px';
                  tc.style.width = width + 'px';
              }
          }

          window.addEventListener("resize", resizeContentBlocks);

          activebtn = document.getElementById("{% block class %}{% endblock class %}-btn")
          for (const btn of document.getElementsByClassName("tablinks")) {
              if (btn == activebtn) {
                  btn.classList.add("active-section");
              } else {
                  btn.classList.remove("active-section");
              }
          }
    </script>
    {%  endblock %}
    {% endblock all_content %}
</body>
</html>
