{% extends 'sis/base.html'%}
{% load static %}
{% load bootstrap3 %}

{% block logged-in %}
<div>
<span>
  <dl class="dl-horizontal">
    <dt>Logged in as</dt>
    <dd>{{ user.username }}</dd>
    <dt>User Role</dt>
    <dd>{{ user.access_role }}</dd>
    {% if total %}<dt>Unread Messages</dt>
    <dd><b>{{ normal }} normal message{{ normal|pluralize }}, {{ priority }} priority message{{ priority|pluralize }}</b></dd>{% endif %}
  </dl>
  <a
     class="btn btn-primary"
     href="{% url 'logout' %}">Log Out</a>
</span>
</div>
{% endblock logged-in %}

{% block late_scripts %}
<script>
  var buffer = 30; // scroll bar buffer
  var samplecontentblock = document.getElementsByClassName('samplecontentblock')[0];
  var defaultButton = document.getElementById("defaultOpen")
  var defaultButtonWidth = defaultButton.offsetWidth;
  
  function pageY(elem) {
      return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
  }
  
  // resize iframe based on window size/resize
  function resizeContentBlocks() {
      var width = window.innerWidth;
      var height = document.documentElement.clientHeight;
  
      width = width - defaultButtonWidth - buffer;
  
      height -= pageY(samplecontentblock) + buffer;
      height = (height < 0) ? 0 : height;
  
      for (const tc of document.getElementsByClassName('tabcontent')) {
          tc.style.height = height + 'px';
          tc.style.width = width + 'px';
      }
  }
  
  // handle tab button clicks. Relies on the content (frame) id be the same as the button text
  // that lights it up.
  function openChunk(evt) {
    var chunkName = this.innerText;
  
    // Get all elements with class="tabcontent" and hide them
      for (const tc of document.getElementsByClassName("tabcontent")) {
          if (tc.id == chunkName) {
              tc.style.display = "block";
          } else {
              tc.style.display = "none";
          }
      }
  
      // Get all elements with class="tablinks" and remove the class "active"
      for (const link of document.getElementsByClassName("tablinks")) {
          link.className = link.className.replace(" active", "");
      }
  
      // Show the current tab, and add an "active" class to the link that opened the tab
      document.getElementById(chunkName).style.display = "block";
      this.className += " active";
  }
  
  // Add onclick to each tab button so that it displays the contents
  for (const link of document.getElementsByClassName('tablinks')) {
      link.addEventListener("click", openChunk, false);
  }
  
  // .onload doesn't work with IE8 and older.
  if (samplecontentblock.attachEvent) {
      samplecontentblock.addEventListener("load", resizeContentBlocks);
  } else {
      samplecontentblock.onload=resizeContentBlocks;
  }
  
  window.addEventListener("resize", resizeContentBlocks);
  
  // start the page with the default tab
  defaultButton.click();
</script>
{% endblock late_scripts %}
