{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}

{% block class %}majors{% endblock %}

{% block content %}
 <form method="post">
    {% csrf_token %}
    {% if prev %} <input id="prev" action="action" class="btn btn-info" value="Previous"/> {% endif %}
    {% if next %} <input id="next" action="action" class="btn btn-info" value="Next"/> {% endif %}
 </form>
    <dl class="dl-horizontal">
      <dt>Major</dt>
      <dd>{{ major.abbreviation }}</dd>
      <dt>Title</dt>
      <dd>{{ major.title }}</dd>
      <dt>Description</dt>
      <dd>{{ major.description }}</dd>
      <dt>Contact</dt>
      <dd><a href="{% url 'schooladmin:user' userid=major.contact.user.id %}">{{ major.contact }}</a></dd>
    </dl>

     <h3>Professors:</h3>
    {% sis_filter 'profs' %}

    <h3>Required Courses:</h3>
    {% sis_filter 'required' %}

    <h3>Courses offered by Major:</h3>
    {% sis_filter 'offered' %}

    {%  if students_table %}
        <h3>Students with Major:</h3>
        {% sis_filter 'students' %}
    {% endif %}
    <div>
    {%  if permit_edit %}
        <input id="edit_major" action="action" class="btn btn-info" value="Edit Major"/>
    {% endif %}
    </div>
{% endblock %}

{% block late_scripts %}
<script>
    {% if permit_edit %}addButtonClickHandler('edit_major', '{% url 'schooladmin:major_edit' major.id %}');{% endif %}
    stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'required'});
    stylizeRange({field:'credits_earned',name:'Cred',prefix:'required'});
    stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'offered'});
    stylizeRange({field:'credits_earned',name:'Cred',prefix:'offered'});
{% if prev %} addButtonClickHandler('prev', "{% url 'sis:major' prev %}"); {% endif %}
{% if next %} addButtonClickHandler('next', "{% url 'sis:major' next %}"); {% endif %}
</script>
{% endblock %}
