{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% load sis-filter %}

{% block class %}messages{% endblock %}

{% block content %}
        <h3>Received Messages:</h3>
        {% sis_filter 'received' %}

        <h3>Sent Messages:</h3>
        {% sis_filter 'sent' %}

<script>
stylizeRange({field:'time_sent',name:'Sent',prefix:'received',width:'100px'});
stylizeRange({field:'time_sent',name:'Sent',prefix:'sent',width:'100px'});
</script>
{% endblock %}
