{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}
{% block class %}users{% endblock %}

{% block content %}
  <h3>Change Password for "{{ auser.username }}" / {{ auser.get_full_name }}</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
   <input
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Cancel" class="btn btn-info"
    />
    <button type="submit" id="submitme" name="submitme" class="btn btn-primary">Save Changes</button>
  </form>
    {% endblock %}
{% block late_scripts %}
<script>
document.getElementById("submitme").addEventListener("click", function () {
        var username = '{{ auser.username }}';
        var user_name = '{{auser.get_full_name}}';
        var role_select = '{{auser.profile.rolename}}';
        var message = "Are you sure you wish to change the password for this user:\n\n" +
            "Username: "+username+"\n"+
            "Full name: "+user_name+"\n"+
            "Access Role: "+role_select;
        var answer = window.confirm(message);
        if (answer) {
            this.form.submit();
            return true;
        }
        return false;
    });
</script>
{% endblock %}
