asgiref==3.3.1
Django==3.1.7
gunicorn==20.0.4
psycopg2-binary==2.8.6
pytz==2021.1
sqlparse==0.4.1
django-apscheduler==0.5.2
django-phone-field==1.8.1
django-tables2==2.3.4
django-bootstrap3==14.2.0
django-filter==2.4.0
django-isbn-field==0.5.2
isort==5.8.0
django-debug-toolbar==3.2
loremipsum==1.0.5
english-words==1.0.3
beautifulsoup4==4.9.3
xhtml2pdf>=0.2b1
django-easy-pdf==0.1.1
reportlab==3.5.67
xhtml2pdf==0.2.5
django-utils-six==2.0
