<dl class="dl-horizontal">
  <dt>Age</dt>
  <dd>{{ profile.demo_age }}</dd>
  <dt>Race</dt>
  <dd>{{ profile.demo_race }}</dd>
  <dt>Gender</dt>
  <dd>{{ profile.demo_gender }}</dd>
  <dt>Employment Status</dt>
  <dd>{{ profile.demo_employment }}</dd>
  <dt>Annual Household Income</dt>
  <dd>{{ profile.demo_income }}</dd>
  <dt>Highest Level of Education in Family</dt>
  <dd>{{ profile.demo_education }}</dd>
  <dt>Orientation</dt>
  <dd>{{ profile.demo_orientation }}</dd>
  <dt>Marital Status</dt>
  <dd>{{ profile.demo_marital }}</dd>
  <dt>Disability</dt>
  <dd>{{ profile.demo_disability }}</dd>
  <dt>Veteran Status</dt>
  <dd>{{ profile.demo_veteran }}</dd>
  <dt>Citizenship</dt>
  <dd>{{ profile.demo_citizenship }}</dd>
</dl>
