{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block css %}
    <link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.tab {
  width: 90px;
}
</style>

{% endblock css %}

{% block title %}Student Info System Administration{% endblock %}
{% block header_name %}Student Info System Administration{% endblock header_name %}

{% block content %}
    <div>
    <span>
<dl class="dl-horizontal">
  <dt>Logged in as</dt>
  <dd>{{ user.username }}</dd>
  <dt>User Role</dt>
  <dd>{{ user.access_role }}</dd>
</dl>
    <a
            class="btn btn-primary"
            href="{% url 'logout' %}">Log Out</a>
</span>
</div>

<div class="tab">
  <button class="tablinks" id="defaultOpen">Users</button>
  <button class="tablinks">Majors</button>
</div>

<span height="300" width="300">
<iframe id="Users" class="tabcontent" title="Admin Users" src="{% url 'schooladmin:users' %}"
    width="200" height="200"></iframe>
<iframe id="Majors" class="tabcontent" title="Majors" src="{% url 'schooladmin:majors' %}"
    width="200" height="200"></iframe>
</span>

<script>
// resize iframe based on window size/resize
var buffer = 20; //scroll bar buffer
var iframe = document.getElementById('Users');

function pageY(elem) {
    return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
}

function resizeIframe() {
    var height = document.documentElement.clientHeight;
    // get the default button; use that to find the frame.
    var width = document.getElementById(document.getElementById('defaultOpen').innerText).offsetWidth;
    height -= pageY(document.getElementById('Users'))+ buffer ;
    height = (height < 0) ? 0 : height;
    iframe.style.height = height + 'px';
    iframe.style.width = width + 'px';
}

// .onload doesn't work with IE8 and older.
if (iframe.attachEvent) {
//    iframe.attachEvent("onload", resizeIframe);
} else {
//    iframe.onload=resizeIframe;
}

//window.onresize = resizeIframe;


// handle tab button clicks. Relies on the content (frame) id be the same as the button text
// that lights it up.
function openChunk(evt) {
  // Declare all variables
  var chunkName = this.innerText;
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    if (tabcontent[i].id == chunkName) {
      tabcontent[i].style.display = "block";
    } else {
      tabcontent[i].style.display = "none";
    }
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(chunkName).style.display = "block";
  this.className += " active";
}

// Add onclick to each tab button so that it displays the contents
var tablinks = document.getElementsByClassName('tablinks')
for (var i=0, len=tablinks.length; i<len; i=i+1) {
    tablinks[i].addEventListener("click", openChunk, false);
}

// start the page with the default tab (this id)
var defaultButton = document.getElementById("defaultOpen")
defaultButton.click();

</script>
{% endblock %}