{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block css %}
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
#Professors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
#Professors {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Professors td, #Professors th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Professors tr:nth-child(even){background-color: #f2f2f2;}

#Professors tr:hover {background-color: #ddd;}

#Courses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
#Courses {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Courses td, #Professors th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Courses tr:nth-child(even){background-color: #f2f2f2;}

#Courses tr:hover {background-color: #ddd;}

#Courses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>

{% endblock css %}

{% block content %}
<h2>Major {{ major.abbreviation }}:</h2>
<h2>Name {{ major.name }}:</h2>
<h2>Description {{ major.description }}:</h2>

    <div id="Professors">
        <h2>Professors:</h2>
          {% if not profs %}
             <p>No Professors in major</p>
          {% else %}
        <table width="400">
            <tr>
              <th >Professor</th>
            </tr>
            <tr>
            {% for professor in profs %}
              <td>{{professor.name}}</td>
            {% endfor %}
          </tr>
        </table>
          {% endif %}
    </div>

    <div id="Courses">
        <h2>Required Courses:</h2>
          {% if not courses %}
             <p>No Courses required by Major</p>
          {% else %}
        <table width="400">
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Credits</th>
            </tr>
            <tr>
            {% for course in courses %}
            <tr>
              <td align="center">{{course.name}}</td>
              <td>{{course.title}}</td>
              <td align="center">{{course.credits_earned}}</td>
            </tr>
            {% endfor %}
          </tr>
        </table>
    </div>
  {% endif %}
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
{% endblock %}
