{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<style>
#Users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Users td, #Users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Users tr:nth-child(even){background-color: #f2f2f2;}

#Users tr:hover {background-color: #ddd;}

#Users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

{% endblock css %}


{% block content %}
<div>
<button class="btn btn-primary" onclick="location.href='{% url 'schooladmin:new_user' %}';">New User</button>
<div>
<div id="Users">
    {% if filter %}
    <form id="myfilt" action="" method="get" class="form form-inline" autocomplete="off">
    {% bootstrap_form filter.form layout='inline' %}
    <button class="btn btn-primary">Filter</button>
{% if has_filter %}
  <a  class="btn btn-success" href="{%  url 'schooladmin:users' %}">Clear</a>
{% endif %}
    </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap.html' %}
</div>
</div>
</div>
<script>
function selectRow(evt) {
    userid = this.getAttribute('data-id');
    open("/schooladmin/user/"+userid,'_self');
}

// Add onclick to each row so that it leaps off to the detail
var tablerows = document.getElementsByClassName('urow')
for (var i=0, len=tablerows.length; i<len; i=i+1) {
    tablerows[i].addEventListener("click", selectRow, false);
}
</script>
{% endblock content %}
