{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock title %}
{% block header_name %}{% endblock header_name %}

{% block css %}
<link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock css %}

{% block content %}
<h2>User {{ user.name }}:</h2>
<h2>Userid: {{ user.id }}</h2>
  <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
      {% if user.is_active %}
    <input id="disbutton" name="disbutton"
           class="btn btn-primary"
           action="action"
        value="Disable User"
    />
    {% else %}
    <input id="enabutton" name="enabutton"
        action="action"
           class="btn btn-primary"
        value="Enable User"
   />
    {% endif %}

  </form>
<script>
function confirmit(evt) {
    var btntitle = evt.target.value;
    var answer = window.confirm("Are you sure you want to "+btntitle+"?");
    if (answer) {
        this.form.submit();
        return true;
    }
    return false;
}

  // run your script in here
// start the page with the default tab (this id)
var btn = document.getElementById("disbutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
btn = document.getElementById("enabutton");
if ( btn ) {
    btn.addEventListener("click", confirmit);
}
</script>
{% endblock %}
