{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ user.name }}</dd>
  <dt>Account Id</dt>
  <dd>{{ user.username }}</dd>
</dl>
    <h3>Major Change Request</h3>

    <div>I'd like to change to major:</div>
    <form id="major_select" action="" method="post" class="form form-inline" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form major_form layout='row' %}
        <button class="btn btn-primary">Submit Request</button>
    </form>
<div>(this will submit a request to the administrator for the new major)</div>

 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />

  </form>
<script>
</script>
{% endblock %}
