{% extends "student/student_base.html" %}

{% block title %}Student Portal: Current Schedule{% endblock %}
{% block header_name %}Current Schedule{% endblock %}
{% block content %}
  {% if not my_sections %}
     <p>No registered sections</p>
  {% else %}
    <table>
    <tr>
      <th>Course Name</th>
      <th>Section Number</th>
      <th>Professor</th>
      <th>Schedule</th>
      <th>Status</th>
    </tr>
    <tr>
    {% for ssect in my_sections %}
      <td>{{ssect.section.course.name}}</td>
      <td>{{ssect.section.number}}</td>
      <td>{{ssect.section.professor.name}}</td>
      <td>{{ssect.section.hours}}</td>
      <td>{{ssect.status}}</td>
    </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
