{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}
    <h3>Current Semester: {{ semester }}</h3>
  {% if not my_sections %}
     <p>No registered sections</p>
  {% else %}
    <table class="data-table">
    <tr class="reg-row">
      <th>Course Name</th>
      <th>Section Number</th>
      <th>Professor</th>
      <th>Hours</th>
      <th>Location</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Email Professor</th>
    {%  if semester.drop_possible %}
        <th class="drop_col">Request</th>
    {% endif %}
    </tr>
    <tr class="heading_row">
    {% for ssect in my_sections %}
      <td>{{ssect.section.course.name}}</td>
      <td>{{ssect.section.number}}</td>
      <td>{{ssect.section.professor.name}}</td>
      <td>{{ssect.section.hours}}</td>
      <td>{{ssect.section.location}}</td>
      <td>{{ssect.status}}</td>
      <td>{{ssect.letter_grade}}</td>
      <td>{% if ssect.section.professor.profile.user.email %}
        <a href="mailto:{{ssect.section.professor.profile.user.email}}">Email</a>
        {% else %}None{% endif %}
      </td>
     {%  if semester.drop_possible %}
        <td class="drop_cell">
        {%  if ssect.droppable %}
            <input id="drop_request-{{ ssect.id }}"
                action="action" class="btn btn-info" value="Request Drop"
                onclick='window.location.href="{% url 'student:drop' id=ssect.id %}";' />
        {% else %}
            &nbsp;
        {% endif %}</td>
     {% endif %}
   </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
