{% extends user.home_template %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ user.get_full_name }}</dd>
  <dt>Account Id</dt>
  <dd>{{ user.username }}</dd>
</dl>
    <h3>Drop Request</h3>

    {%  if count %}
        <div>I'd like to drop section {{ ssect.section }}:</div>
        <form id="drop_form" action="" method="post" class="form form-inline" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form drop_form layout='row' %}
            <button class="btn btn-primary">Submit Request</button>
        </form>
        <div>(this will submit a request to the administrator {{ ssect.section.course.major }}, and cc professor {{ ssect.section.professor }})</div>
    {%  else %}
        <h2>No droppable sections.</h2>
    {% endif %}
{% endblock %}
