{% extends user.home_template %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{%  load sis-filter %}

{% block class %}history{% endblock %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Class Level</dt>
  <dd>{{ user.profile.student.class_level }}</dd>
  <dt>Overall GPA</dt>
  <dd>{{ user.profile.student.gpa|floatformat:2 }}</dd>
  <dt>Credits Earned</dt>
  <dd>{{ user.profile.student.credits_earned }}</dd>
</dl>

<table class="data-table-alt">
{% for gpa, sem in ssects_gpas %}
  <tr>
    <th></th>
    <th>Semester: {{sem.0.section.semester}}</th>
    <th></th>
    <th>GPA: {{gpa|floatformat:2}}</th>
  </tr>
  <tr>
    <th>Course</th>
    <th>Course Title</th>
    <th>Professor</th>
    <th>Grade</th>
  </tr>
  {% for sec in sem %}
    <tr>
      <td>{{sec.section.course}}</td>
      <td>{{sec.section.course.title}}</td>
      <td>{{sec.professor}}</td>
      <td>{{sec.letter_grade}}</td>
    </tr>
  {% endfor %}
{% endfor %}
</table>

{% comment %}
    <h3>Semesters Attended:</h3>
    {% sis_filter 'semesters' %}

    <h3>Course History:</h3>
    {% sis_filter 'history' %}
{% endcomment %}

    <h3>Required Courses for {{ user.profile.student.major.abbreviation }}:</h3>
    {% sis_filter 'majorcourses' %}
    <h4>{{ remaining_course_count }} course{{ remaining_course_count|pluralize }} ({{ remaining_credit_count }} credit{{ remaining_credit_count|pluralize }}) remaining</h4>
    <input id="test_majors"
        action="action"
           class="btn btn-info"
        value="Explore Another Major..."
    />

<script>
addButtonClickHandler('test_majors', "{% url 'student:test_majors' %}");
stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'majorcourses'});
stylizeRange({field:'credits_earned',name:'Cred',prefix:'majorcourses'});
</script>
{% endblock %}
