{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}
{%  load user_demographics %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Class Level</dt>
  <dd>{{ user.profile.student.class_level }}</dd>
  <dt>GPA</dt>
  <dd>{{ user.profile.student.gpa|floatformat:2 }}</dd>
  <dt>Credits Earned</dt>
  <dd>{{ user.profile.student.credits_earned }}</dd>
</dl>
    <h3>Course History:</h3>
    {% sis_filter 'history' %}

 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />

  </form>
<script>
</script>
{% endblock %}
