{% extends 'sis/home_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block identification %}
    {{ block.super }}
    <dt>Major</dt>
    <dd><a href="{% url 'sis:major' majorid=user.profile.student.major.id %}">{{ user.profile.student.major.abbreviation }}: {{  user.profile.student.major.name }}</a></dd>
    <dt>Class Level</dt>
    <dd>{{  user.profile.student.class_level }}</dd>
{%  endblock %}

{% block nav %}
<div class="tab">
  <button class="tablinks" name="section" id="schedule-btn" onclick="location.href='{% url 'student:current_schedule' %}';">Current Schedule</button>
  <button class="tablinks" name="section" id="registration-btn" onclick="location.href='{% url 'student:registration' %}';">Registration</button>
  <button class="tablinks" name="section" id="professors-btn" onclick="location.href='{% url 'schooladmin:professors' %}';">Professors</button>
  <button class="tablinks" name="section" id="majors-btn" onclick="location.href='{% url 'sis:majors' %}';">Majors</button>
  <button class="tablinks" name="section" id="semesters-btn" onclick="location.href='{% url 'schooladmin:semesters' %}';">Semesters</button>
  <button class="tablinks" name="section" id="courses-btn" onclick="location.href='{% url 'schooladmin:courses' %}';">Courses</button>
  <button class="tablinks" name="section" id="sections-btn" onclick="location.href='{% url 'schooladmin:sections' %}';">Sections</button>
  <button class="tablinks" name="section" id="secitems-btn" onclick="location.href='{% url 'student:secitems' %}';">My Textbooks and References</button>
  <button class="tablinks" name="section" id="history-btn" onclick="location.href='{% url 'student:history' %}';">My History</button>
  <button class="tablinks" name="section" id="profile-btn" onclick="location.href='{% url 'sis:profile' %}';">My Profile</button>
  <button class="tablinks" name="section" id="messages-btn" onclick="location.href='{% url 'sis:messages' %}';">My Messages</button>
</div>
{% endblock %}
