{% extends user.home_template %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{%  load sis-filter %}

{% block class %}secitems{% endblock %}

{% block content %}
    <dl class="dl-vertical">
    <dt>Reference Items for:</dt>
      <form action="{% url 'student:secitems' %}" method="post">
        {% csrf_token %}
        <dd><select name="semester">
        {% for sem in semesters %}<option value="{{sem.id}}" {% if semester.id == sem.id %}SELECTED{% endif %}>{{ sem.name }}</option>
        {% endfor %}
        </select>
            <input type="submit" id="switch" name="switch" value="Show" class="btn btn-primary"></dd>
    </form>
    </dl>

    {% sis_filter 'secitems' %}
{% endblock %}

{%  block late_scripts %}
<script>
stylizeRange({field:'index',min_label:'From #',max_label:'To #',prefix:"secitems"});
</script>
{% endblock %}
