{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{%  load user_demographics %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ user.get_full_name }}</dd>
  <dt>Account Id</dt>
  <dd>{{ user.username }}</dd>
  <dt>Email</dt>
  <dd>{{ user.email }}</dd>
  <dt>Major</dt>
  <dd><a href="{% url 'sis:major' majorid=user.profile.student.major.id %}">{{ user.profile.student.major.abbreviation }}: {{  user.profile.student.major.name }}</a></dd>
  <dt>Bio</dt>
  <dd>{{  user.profile.bio }}</dd>
</dl>
    <h3>Personal Profile</h3>
    {%  demographic_details user.profile %}


 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />
    <input id="change_password"
        action="action"
           class="btn btn-info"
        value="Change Password"
    />
    <input id="request_major_change"
        action="action"
           class="btn btn-info"
        value="Request Major Change"
    />
     <input id="edit_user"
        action="action"
           class="btn btn-info"
        value="Edit Profile"
    />

  </form>
<script>
addButtonClickHandler('change_password', "{% url 'sis:change_password' 0 %}");
addButtonClickHandler('request_major_change', "{% url 'student:request_major_change' %}");
addButtonClickHandler('edit_user', "{% url 'sis:profile_edit' %}");
</script>
{% endblock %}
