{% extends user.home_template %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block scripts %}
  {{block.super}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% endblock scripts %}

{% block content %}
  {% if not any_sections %}
    <p>No courses offered</P>
  {% else %}
    {% if registration_success %}
        <p>Registration complete.</p>
    {% endif %}
    {% if filter %}
      <form id="myfilt" action="" method="get" class="form form-inline" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form filter.form layout='inline' %}
        <button class="btn btn-primary">Filter</button>
        {% if has_filter %}
          <a class-"btn btn-sucess" href="{% url 'student:registration' %}">Clear</a>
        {% endif %}
      </form>
    {% endif %}

  <form action="{% url 'student:registration' %}" method="post">
    {% csrf_token %}
    <select name="semester">
    {% for sem in semesters %}
      <option value="{{sem.id}}" {% if semester == sem.id %}SELECTED{% endif %}>{{ sem.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" id="register" name="register" value="Switch Semester" class="btn btn-primary">

    <table class="data-table">
      <tr class="reg-row">
        <th>Number</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Description</th>
        <th>Prerequisites</th>
      </tr>

    {% for s in sections %}
      {% if s.new_course %}
        <tr class="class_heading_row p_row" id="{{s.course}}">
          <th>{{s.course.name}}</th>
          <th>{{s.course.title}}</th>
          <th>{{s.course.credits_earned}}</th>
          <th>{{s.course.description}}</th>
          <th>{% if s.course.prereqs.all %}
                {% for prereq in s.course.prereqs.all %}<p>{{prereq}}</p>{% endfor %}
              {% else %}
                <p>None</p>
              {% endif %}
          </th>
            <tr id="{{s.course}}" class="heading_row c_row">
              <td>Section Number</td>
              <td>Professor</td>
              <td>Schedule</td>
              <td>Open Seats</td>
              <td>Location</td>
              <td>Select</td>
            </tr>
        {% endif %}
        <tr id="{{s.course}}" class="section_row c_row">
          <td>{{s.number}}</td>
          <td>{{s.professor_name}}</td>
          <td>{{s.hours}}</td>
          <td>{{s.seats_remaining}} / {{ s.capacity }}</td>
          <td>{{s.location}}</td>
          <td>
            {% if s.seats_remaining <= 0 %}<span class="waitlist_notif">WAITLIST?</span>{% endif %}
              <input type="radio" class="section_button" name="{{s.course.id}}" value="{{s.id}}" {% if s.is_selected  %}SELECTED{% endif %}/>
              <label for="{{ s.course.id }}">{{s.name}}</label>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <input type="submit" id="register" name="register" value="Register" class="btn btn-primary">
  </form>
{% endblock content %}
{% block late_scripts %}
  {{block.super}}
  <script>
    $(".c_row").hide();

    $(".p_row").each(function(index, p){
        $(p).on("click", function(){
            $(".c_row").each(function(index, c){
                if(c.id == p.id && $(c).is(":visible")){
                    $(c).hide();
                } else if (c.id == p.id && $(c).is(":hidden")){
                    $(c).show();
                }
            })
        })
    })

    for (const butt of document.getElementsByClassName("section_button")) {
        butt.addEventListener('click', function(evt) {
            if( evt.ctrlKey) {
                this.checked = false;
            }
        })
    }
  </script>
{% endblock late_scripts %}    
