{% extends 'base.html' %}

{% block title %}Student Portal: Registration{% endblock %}

{% block header_name %} Registration {% endblock %}

{% block content %}
  <select name="semester">
  {% for semester in semesters %}
    <option name="{{semester.name}}" value={{semester.name}}>{{semester.name}}</option>
  {% endfor %}
  </select>

  <input type="submit" onclick="select_semester" name="Select Semester">

  {% if not courses %}
    <p>No courses offered</P>
  {% else %}
    <table>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Credits</th>
      <th>Description</th>
      <th>Prerequisites</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{course.name}}</td>
      <td>{{course.title}}</td>
      <td>{{course.credits_earned}}</td>
      <td>{{course.description}}</td>
      <td>{% for prereq in course.prereqs.all %}{{prereq}}{% endfor %}</td>
    </tr>
    {% if course.section_set.all %}
      <tr class="child_row">
        <th>Section Number</th>
        <th>Professor</th>
        <th>Schedule</th>
        <th>Open Seats</th>
        <th>Select</th>
      </tr>
      {% for section in course.section_set.all %}
        <tr class="child_row">
          <td>{{section.number}}</td>
          <td>{{section.professor_name}}</td>
          <td>{{section.hours}}</td>
          <td>{{section.capacity}}</td>
          <td><input type="radio" name="section" value="{{section}}"><td>
        </tr>
       {% endfor %}
    {% endif %}
    {% endfor %}
  {% endif %}
    </table>
<input type="submit" onclick="confirm_input" name="Register">
<script>
    function confirm_input() {
       if (confirm('Are you sure you want to register for ?')) {
           Register.submit();
       } else {
           return false;
       }
    }

</script>
{% endblock content %}
    
