{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}
<form action="{% url 'student:registration' %}" method="post">
{% csrf_token %}
  <select name="semester">
  {% for sem in semesters %}
    <option value="{{sem.id}}" {% if semester == sem.id %}SELECTED{% endif %}>{{ sem.name }}</option>
  {% endfor %}
  </select>

  {% if not any_sections %}
    <p>No courses offered</P>
  {% else %}

      <table class="data-table">
      <tr class="reg-row">
        <th>Number</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Description</th>
        <th>Prerequisites</th>
      </tr>

      {% for s in sections %}
        {% if s.new_course %}
            <tr class="class_heading_row">
              <th>{{s.course.name}}</th>
              <th>{{s.course.title}}</th>
              <th>{{s.course.credits_earned}}</th>
              <th>{{s.course.description}}</th>
                <th>{% for prereq in s.course.prereqs.all %}<p>{{prereq}}</p>{% endfor %}</th>
            <tr id="childRow" class="heading_row">
              <td>Section Number</td>
              <td>Professor</td>
              <td>Schedule</td>
              <td>Open Seats</td>
              <td>Select</td>
            </tr>
        {% endif %}
        <tr id="childRow" class="section_row">
          <td>{{s.number}}</td>
          <td>{{s.professor_name}}</td>
          <td>{{s.hours}}</td>
          <td>{{s.seats_remaining}} / {{ s.capacity }}</td>
            <td>
                {% if s.seats_remaining <= 0 %}<span class="waitlist_notif">WAITLIST?</span>{% endif %}
                <input type="radio" name="{{s.course.id}}" value="{{s.id}}" {% if s.is_selected  %}SELECTED{% endif %}/>
                    <label for="{{ s.course.id }}">{{s.name}}</label>
            </td>
        </tr>
      {% endfor %}
  </table>
{% endif %}
<input type="submit" id="register" name="register" value="Register">
</form>
{% endblock content %}
    
