{% extends 'sis/subpage_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load sis-filter %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ user.get_full_name }}</dd>
  <dt>Account Id</dt>
  <dd>{{ user.username }}</dd>
</dl>
    <h3>What if I had a different major?</h3>

    <form id="major_select" action="" method="post" class="form form-inline" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form major_form layout='inline' %}
        <button id="test_majors" class="btn btn-primary">Show</button>
    </form>

    <h3>Courses for {{ major.abbreviation }}:</h3>
    {% sis_filter 'majorcourses' %}
    <h3>{{ remaining_course_count }} course{{ remaining_course_count|pluralize }} ({{ remaining_credit_count }} credit{{ remaining_credit_count|pluralize }}) remaining with this major.</h3>


 <form method="post">
    {% csrf_token %}
     <input type="hidden" name="userid" value="{{ user.id }}"/>
    <input
        action="action"
           class="btn btn-info"
        onclick="window.history.go(-1); return false;"
        value="Back"
    />

  </form>
<script>
stylizeRange({field:'catalog_number',name:'Cat Num',prefix:'majorcourses'});
stylizeRange({field:'credits_earned',name:'Cred',prefix:'majorcourses'});
addButtonClickHandler('test_majors', "{% url 'student:test_majors' %}");
</script>
{% endblock %}
