<div id="{{ name }}">
  {% if filt %}  
    <form id="{{ filt }}" action="" method="get" class="form form-inline" autocomplete="off">
      {% bootstrap_form filt.form layout='inline' %}
      <button class="btn btn-primary">Filter</button>
      {% if has_filter %}
        <a class="btn btn-success" 
            {% if dest['args'] %}href="{% url dest['url'] dest['args'] %}"
            {% else %}href="{% url dest['url'] %}"{% endif %}>Clear</a>
      {% endif %}
    </form>
  {% endif %}
  <div class="data-table-alt">
    {% render_table table 'django_tables2/bootstrap.html' %}
  </div>
</div>
