<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Student Info System{% endblock %}</title>
</head>
<body>
<div class="header">
<span class="name">
<h1>{% block header_name %}Student Info System{% endblock %}</h1>
</span>
  {% block header_content %}
  {% endblock %}
</div>
  {% block content %}
  {% endblock %}
</body>
</html>
