<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'schooladmin/styles.css' %}" />
    {% block css %}{% endblock css %}

    <script src="{%  static 'schooladmin/common.js' %}" ></script>
    {% block scripts %}{% endblock scripts %}

    <meta charset="utf-8">
    <title>{% block title %}Student Info System{% endblock %}</title>
</head>

<body>
<div class="header">
<span class="name">
<h1>{% block header_name %}Student Info System{% endblock %}</h1>
</span>
  {% block header_content %}
    {% if name %}
       {% block user %}Currently logged in as {{name}}{% endblock user %}
       <br><a href="{% url 'logout' %}">Log Out</a>
    {% endif %}
  {% endblock %}
</div>
  {% block content %}
  {% endblock %}
    {% block late_scripts %}{% endblock late_scripts %}
</body>
</html>
