{% extends user.home_template %}
{% load static %}

{% block content %}
  {% if grade_submitted %}
    <p class="success">Grade(s) submitted.</p>
  {% endif %}

  <h2>Section</h2>

  <table class="data-table">
    <tr class="reg-row">
      <th>Semester</th>
      <th>Course</th>
      <th>Number</th>
      <th>Course Title</th>
      <th>Capacity</th>
      <th>Openings</th>
    </tr>
    <tr class="reg-row">
      <td class="sem_cell">{{section.semester_name}}</td>
      <td class="course_cell">{{section.course_name}}</td>
      <td class="section_name_cell">{{section.name}}</td>
      <td class="coursetitle_cellr">{{section.course_title}}</td>
      <td class="capac_cell">{{section.capacity}}</td>
      <td class="capac_cell">{{section.seats_remaining}}</td>
    </tr>
  </table>

  <h2>References</h2>
  {% if references %}
    <table class="data-table">
      <tr class="reg-row">
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>Edition</th>
        <th>Type</th>
        <th>ISBN</th>
      </tr>
    {% for reference in references %}
      <tr class="data-table">
        <td>{{reference.item.title}}</td>
        <td>{{reference.item.description}}</td>
        <td>{{reference.item.link}}</td>
        <td>{{reference.item.edition}}</td>
        <td>{{reference.item.get_type_display}}</td>
        <td>{{reference.item.isbn}}</td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
    <a href="{% url 'professor:add_reference' section.id %}" class="btn btn-info">
      Add Reference Item</a>

  <h2>Students</h2>
{% if ssects %}
  <form action="{% url 'professor:section' section.id %}" method="post">
  {% csrf_token %}
    <table class="data-table-alt scrollify-me">
      <tr class="heading-row">
        <th>Name</th>
        <th>Major</th>
        <th>GPA</th>
        <th>Credits</th>
        <th>Class</th>
        <th>Grade</th>
        {% if can_grade %}
            <th>Assign Grade</th>
        {% endif %}
        <th class="sched_col">View</th>
      </tr>
      {% for ssect in ssects %}
        <tr class="reg-row">
          <td class="user_name_cell">{{ssect.student.name}}</td>
          <td class="major_cell">{{ssect.student.major}}</td>
          <td class="gpa_cell">{{ssect.student.gpa|floatformat:2}}</td>
          <td class="credits_cell">{{ssect.student.credits_earned}}</td>
          <td class="classlevel_cell">{{ssect.student.class_level}}</td>
          <td class="lettergrade_cell">{{ssect.letter_grade}}</td>
        {% if can_grade %}
          <td class="lettergrade_cell">
                <select name="{{ssect.student.pk}}">
                {% for id, value in grades %}
                    <option value="{{value}}">{{id}}</option>
                {% endfor %}
                </select>
          </td>
        {% endif %}
          <td class="sched_cell">
         <input id="sched{{ ssect.student.pk }}" action="action" class="btn btn-info sched_sel" value="Student Schedule" data-id="{{ssect.student.pk}}"/></td>
       </tr>
      {% endfor %}
    </table>
{% if can_grade %}
    <input type="submit" value="Submit" class="btn btn-info"/>
{% endif %}
  </form>
{% else %}
  <p>No students in this section</p>
{% endif %}
  <form action="{% url 'professor:sections' %}">
    <input type="submit" class="btn btn-secondary" value="Back"/>
  </form>

<script>
    addClickHandlers("{% url 'professor:student' studentid=1234599 %}", "sched_sel");
</script>
{% endblock content %}
