{% extends 'sis/subpage_base.html' %}
{% load static %}

{% block content %}
<h2>Student Schedule</h2>
<h3>{{student.name}}</h3>
<div class="data-table-alt scrollify-me">
  <table class="">
    <tr class="heading-row">
      <th>Course Name</th>
      <th>Section Number</th>
      <th>Professor</th>
      <th>Schedule</th>
      <th>Status</th>
      <th>Grade</th>
    </tr>
    <tr class="reg-row">
    {% for ssect in ssects %}
      <td>{{ssect.section.course.name}}</td>
      <td>{{ssect.section.number}}</td>
      <td>{{ssect.section.professor.name}}</td>
      <td>{{ssect.section.hours}}</td>
      <td>{{ssect.status}}</td>
      <td>{{ssect.letter_grade}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
